@{
    ViewBag.Title = "КВ - Стартовая страница";
}

<div class="jumbotron">
    <h1>КВ</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Начать работу!</h2>
        <p><a class="btn btn-default" href="">Создать задачу</a></p>
    </div>
    <div class="col-md-4">
        <h2>Мои задачи</h2>
        <p><a class="btn btn-default" href="">Показать все мои задачи</a></p>
    </div>
    <div class="col-md-4">
        <h2>Задачи на сегодня</h2>
        <p><a class="btn btn-default" href="">Показать задачи на сегодня</a></p>
    </div>
</div>